<%= render :partial => "common/scrum_menu" %>

<h2><%= l(:label_product_backlog) %></h2>

<%- if @user_stories.empty? -%>
  <p class="nodata"><%= l(:label_no_data) %></p>
<%- else -%>
  <ul id="user_stories" class="user-stories">
    <%- @user_stories.each do |user_story| -%>
      <%= render :partial => "post_its/product_backlog/user_story",
                 :locals => {:project => @project,
                             :user_story => user_story} %>
    <%- end -%>
  </ul>
  <%= render :partial => "post_its/product_backlog/user_stories",
             :formats => [:js],
             :locals => {:project => @project} %>
<%- end -%>

<%= render :partial => "common/scrum_footer" %>
